FW_Pjt/Debug/
FW_Pjt/.settings/
FW_Pjt/src/lib/cube_f411/Core/
BOOT_Pjt/.settings/
BOOT_Pjt/Debug/
BOOT_Pjt/src/lib/cube_f411/Core/
FW_Pjt/src/lib/cube_f411/Middlewares/
FW_Pjt/src/lib/cube_f411/USB_DEVICE/
